@import "tailwindcss";

body {
  background-color: #efe5ce; 
  color: #2f2f2f;
  font-family: 'Inter', sans-serif;
}



::-webkit-scrollbar {
  width: 6px;
  height: 6px; 
}

::-webkit-scrollbar-track {
  background: #f5f1e8; 
}

::-webkit-scrollbar-thumb {
  background: #2f2f2f; 
  border-radius: 10px; 
}

::-webkit-scrollbar-thumb:hover {
  background: #2f2f2f; 
}

* {
  scrollbar-width: thin;
  scrollbar-color: #2f2f2f #f5f1e8;
}

.custom-pagination .swiper-pagination-bullet {
  background: #6d3c00; /* inactive bullet color */
  opacity: 1;
}

.custom-pagination .swiper-pagination-bullet-active {
  background: #2d2a26; /* active bullet color */
  width: 12px;
  height: 12px;
}
